:root {
  --main-color: #2814dc;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.parameter {
  width: 250px;
  height: 100vh;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  border: 1px solid #eee;
  z-index: 1000;
  transform: translateX(-250px);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transform: translateX(-250px);
  -moz-transform: translateX(-250px);
  -ms-transform: translateX(-250px);
  -o-transform: translateX(-250px);
}
.parameter .spin {
  position: absolute;
  padding: 10px 10px 10px 8px;
  right: -35px;
  top: 164px;
  z-index: 1000;
  background-color: white;
  cursor: pointer;
  display: flex;
  border-radius: 0% 50% 50% 0%;
  justify-content: center;
  align-items: center;
}
.parameter.opened {
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
}
.parameter .chooseoption,
.parameter .chooseoptionbullet {
  background-color: #eee;
  padding: 10px;
  margin-top: 10px;
}
.parameter p {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.parameter ul {
  display: flex;
  list-style: none;
  width: fit-content;
  margin: 30px auto;
  padding: 0px;
}

.parameter ul li {
  width: 30px;
  height: 30px;
  background-color: antiquewhite;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-left: 10px;
  opacity: 0.2;
  border: 3px solid white;
}
.parameter ul li.active {
  opacity: 1;
  border: 1px solid rgba(0, 0, 0, 0.685);
}
.parameter ul li:nth-child(1) {
  background-color: #2814dc;
}

.parameter ul li:nth-child(2) {
  background-color: #dc1037;
}
.parameter ul li:nth-child(3) {
  background-color: #03a9f4;
}
.parameter ul li:nth-child(4) {
  background-color: #17dc10;
}
.parameter ul li:nth-child(5) {
  background-color: #edf105;
}
.chooseoption .backchoose,
.chooseoptionbullet .backchoose {
  width: fit-content;
  margin: 10px auto;
}
.chooseoption .backchoose span,
.chooseoptionbullet .backchoose span {
  padding: 5px 20px;
  background-color: #03a9f4;
  color: white;
  font-size: bold;
  border-radius: 5px;
  opacity: 0.2;
  cursor: pointer;
}
.chooseoption .backchoose span.active,
.chooseoptionbullet .backchoose span.active {
  opacity: 1;
  cursor: none;
}
.reset {
  background-color: #f44336;
  color: white;
  padding: 20px;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}
/* start bullet section */
.bullet {
  position: fixed;
  width: 50px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 100;
}
.bullet .bullet-box {
  width: 20px;
  height: 20px;
  border: 3px solid var(--main-color);
  border-radius: 50%;
  margin: 10px auto;
  position: relative;
}
.bullet .bullet-box .option {
  position: absolute;
  background-color: var(--main-color);
  color: white;
  padding: 1px 2px;
  width: 90px;
  right: 50px;
  cursor: default;
  pointer-events: none;
  transition: 1s;
  text-transform: capitalize;
  text-align: center;
  display: none;
}
.bullet .bullet-box:hover .option {
  display: block;
}

.bullet .bullet-box .option::after {
  content: '';
  border: 10px solid var(--main-color);
  border-color: transparent transparent transparent var(--main-color);
  right: -20px;
  top: 50%;
  margin-bottom: 5px;
  position: absolute;
  z-index: 100;
  transform: translateY(-50%);
}

/* end bullet section */
/* Start Landing Page  */
.container {
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.landing-page {
  height: 100vh;
  position: relative;
  color: white;
  /* background-image: url("../imgs/table.jpg"); */
  /* background-size: cover;
  background-repeat: no-repeat; */
}
.landing-page .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000000a8;
  z-index: 1;
}
.landing-page .container {
  position: relative;
  z-index: 4;
}
.imgs {
  background-color: #0000006e;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}
.imgs div {
}
.imgs img {
  height: 100%;
  width: 100vw;
}
@media (max-width: 576px) {
  .imgs img {
    width: 200vw;
    height: 100%;
  }
}
.header-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  z-index: 2;
  position: relative;
}
.header-area .logo {
  font-size: 20px;
}
.header-area .links-container {
}

.header-area .links-container .links {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-area i {
  display: none;
  width: 50px;
}

.header-area .links-container .links li {
  display: inline-block;
  margin-left: 10px;
}
.header-area .links-container .links li a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.introduction-text {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}
.introduction-text h1 {
  line-height: 1.8;
}
.introduction-text h1 span {
  color: var(--main-color);
}
.introduction-text p {
  line-height: 1.8;
}
.header-area .links-container .links li a:hover,
.header-area .links-container .links li a.active {
  color: var(--main-color);
}
.pagenumber {
  position: absolute;
  width: fit-content;
  height: 50px;
  z-index: 2;
  left: 50%;
  top: 82%;
  transform: translateX(-50%);
}
.pagenumber span {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-left: 10px;
  background-color: antiquewhite;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.pagenumber span.activepage,
.pagenumber span.activebackpage {
  background-color: var(--main-color);
}
.imgs img.activebackimage {
}

@media (max-width: 768px) {
  .header-area .links-container .links {
    position: absolute;
    bottom: 167px;
    background-color: white;
    left: 0;
    width: 100%;
    transition: 1s;
  }
  .header-area .links-container .links.display {
    bottom: -167px;
  }
  .header-area .links-container .links li {
    color: blue;
    display: block;
    color: white;
    padding: 5px 0px;
    border-bottom: 1px solid #ccc;
  }
  .header-area .links-container .links li a {
    color: black;
  }
  .header-area i {
    display: block;
    width: 50px;
    text-align: right;
  }
}
/* End Landing Page */

/* start about section */
.about {
  padding-top: 40px;
  display: flex;
  align-items: center;
}
.about .info-box {
  flex: 1;
  padding-right: 40px;
}
.about .info-box h1 {
  text-transform: capitalize;
  font-weight: bold;
  color: var(--main-color);
}
.about .info-box p {
  line-height: 1.5;
  color: #777;
}
.about .info-image {
  flex: 1;
  text-align: center;
}
.about .info-image img {
  max-width: 100%;
}
/* end about section */

/* start skills section */
.skills {
  background-color: #eee;
  padding-top: 50px;
  padding-bottom: 50px;
}

.title {
  text-align: center;
  color: var(--main-color);
  padding-bottom: 40px;
}
.skills .skills-box {
  background-color: white;
  padding: 5px;
  margin-top: 35px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px rgba(119, 119, 119, 0.007),
    -1px -1px rgba(119, 119, 119, 0.027);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.skills .skills-box p {
  width: 100px;
  text-align: center;
  font-weight: bold;
}
.skills .skills-box .progress {
  height: 30px;
  width: 100%;
  background-color: #eee;
  position: relative;
  border-radius: 6px;
}

.skills .skills-box span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: var(--main-color);
  transition: 2s;
}
/* end skills section */

/* start Galerie */
.galerie {
  padding-top: 50px;
  padding-bottom: 50px;
}
.galerie .images-box {
  text-align: center;
}
/* end Gaklerie */
.galerie .images-box img {
  width: 200px;
  height: 150px;
  padding: 3px;
  background-color: #cccccca1;
  border: 1px solid #f6f6f6;
  cursor: pointer;
}

.popoverlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.685);
  z-index: 2000;
  top: 0;
  left: 0;
}
.popimage {
  position: fixed;
  padding: 10px;
  background-color: #77777757;
  z-index: 2000;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  box-shadow: 2px 2px 2px rgb(153, 145, 145), -2px -2px 2px rgb(154, 145, 145);
}

.poptitle {
  text-align: center;
  color: var(--main-color);
}
.cancel {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: var(--main-color);
  position: absolute;
  right: -15px;
  top: -15px;
  color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}

/* start timeline section */
.timeline {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
  margin-top: 60px;
  border: 1px solid transparent;
}
.timeline .timelinecontainer {
  background-color: #eee;
  overflow: hidden;
  position: relative;
}
.timeline .year {
  margin: 0px auto 20px;
  width: fit-content;
  padding: 10px;
  color: white;
  font-weight: bold;
  background-color: var(--main-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.timeline .timelinecontainer::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: var(--main-color);
  left: 50%;
  /* z-index: 2; */
  /* bottom: -229px; */
  top: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.timeline .timelinecontainer .timeleft,
.timeline .timelinecontainer .timeright {
  margin-top: 20px;
  padding: 20px;
  width: calc(50% - 25px);
  background-color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
}
.timeline .timelinecontainer .timeleft {
  float: left;
}
.timeline .timelinecontainer .timeleft::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid var(--main-color);
  right: -36px;
  top: 20px;
  border-radius: 19px;
  z-index: 2;
  background-color: white;
}
.timeline .timelinecontainer .timeleft::before {
  content: '';
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent white;
  right: -20px;
  top: 20px;
}
.timeline .timelinecontainer .timeright {
  float: right;
}
.timeline .timelinecontainer .timeright::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid var(--main-color);
  left: -36px;
  top: 20px;
  border-radius: 19px;
  z-index: 2;
  background-color: white;
}
.timeline .timelinecontainer .timeright::before {
  content: '';
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent white transparent transparent;
  left: -20px;
  top: 20px;
}
.timeline .timelinecontainer h1 {
  color: var(--main-color);
  font-size: 24px;
}

.timeline .timelinecontainer p {
  color: #777;
  font-size: 14px;
  line-height: 1.6;
}
.clear {
  clear: both;
}
/* end timeline section */

/* start features section */
.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

.feat-box {
  margin: 10px auto;
  overflow: hidden;
}

.box {
  float: left;
  width: calc(100% / 3);
  text-align: center;
}
.box img {
  width: 60px;
}
.box h2 {
  position: relative;
}
.box h2::after {
  content: '';
  position: absolute;
  width: 40px;
  background-color: var(--main-color);
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  height: 3px;
  bottom: -20px;
}
.box p {
  color: #777;
  line-height: 1.6;
  margin-top: 35px;
  font-size: 14px;
  width: 80%;
  margin: 40px auto;
}
/* end features section */

/* start testmonials section */
.testimonials {
  padding-top: 80px;
  padding-bottom: 130px;
  background: linear-gradient(
    to right,
    var(--main-color),
    var(--main-color) 50%,
    black 50%
  );
}
.testimonials .title {
  color: white;
  text-align: left;
}
.testimonials .testmonials-box {
  overflow: hidden;
}
.testimonials .testmonials-box > div:not(:last-child) {
  margin-right: 1%;
}
.testimonials .testmonials-box .box-test {
  float: left;
  width: calc(98% / 3);
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 2px 2px 2px #eee, -2px -2px 2px #eee;
}
.testimonials .testmonials-box .box-test img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 100px;
  height: 100px;
  float: left;
  padding: 10px;
}
.testimonials .testmonials-box .box-test p {
  color: #777;
  padding: 10px;
  line-height: 1.5;
  font-size: 12px;
  font-style: italic;
  margin: 0;
}
.testimonials .testmonials-box .box-test h3 {
  margin: 26px 0px 0px;
}
/* End testmonials section */

/* start contact section */
.contact {
  padding-top: 80px;
  padding-bottom: 80px;
}
.contact form {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr 1fr;
  display: block;
  gap: 10px;
  margin: auto;
  max-width: 100%;
}
@media (max-width: 576px) {
  .contact form {
    display: block;
  }
}
.contact form input {
  height: 60px;
  background-color: rgba(218, 218, 218, 0.19);
  border: 1px solid #ccc;
  padding: 10px;
  outline: none;
}

.contact form :nth-child(2) {
  grid-area: 4/1/5/1;
}
.contact form textarea {
  grid-area: 1/2/4/2;
  background-color: rgba(218, 218, 218, 0.19);
  border: 1px solid #ccc;
  padding: 10px;
}
.contact form input[type='submit'] {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.contact form input::placeholder,
.contact form textarea::placeholder {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.contact form input:focus,
.contact form textarea:focus {
  outline: 1px solid var(--main-color);
}
.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
  opacity: 0.1;
}
/* end contact section */

/* start grid system */

/* end grid system */
